<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaritzapech.miscontactos">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pets_black"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yaritzapech.miscontactos.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yaritzapech.miscontactos.DetalleContacto"
            android:parentActivityName="com.yaritzapech.miscontactos.MainActivity">

            <!-- sopote para versions anteriores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yaritzapech.miscontactos.MainActivity" />
        </activity>
        <activity
            android:name="com.yaritzapech.miscontactos.FavoritosActivity"
            android:parentActivityName="com.yaritzapech.miscontactos.MainActivity">

            <!-- sopote para versions anteriores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yaritzapech.miscontactos.MainActivity" />
        </activity>
        <activity
            android:name="com.yaritzapech.miscontactos.AboutActivity"
            android:parentActivityName="com.yaritzapech.miscontactos.MainActivity">

            <!-- sopote para versions anteriores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yaritzapech.miscontactos.MainActivity" />
        </activity>
        <activity
            android:name="com.yaritzapech.miscontactos.ContactoActivity"
            android:parentActivityName="com.yaritzapech.miscontactos.MainActivity">

            <!-- sopote para versions anteriores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yaritzapech.miscontactos.MainActivity" />
        </activity>
        <activity android:name="com.yaritzapech.miscontactos.PerfilActivity" />
        <activity android:name="com.yaritzapech.miscontactos.CardviewDetalle"></activity>
    </application>

</manifest>
